#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align:left;
}

.bold {
  font-weight: 600;
}

.countryInfo {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 769px) {
  .countryInfo {
    flex-direction: column;
  }
}
